.main{
    background-color: darkcyan;
}


.user{
    
    width: 300px;
    margin: 15px;
    border-style:solid;
    border-width: 2px;
    border-color: brown;
}


.first{
    background-color: rgb(174, 155, 196);
    padding: 10px;
}

.second{
    background-color: rgb(224, 117, 171);
    padding: 10px;
    text-align: center;
}

.button{
    height: 37px;
    width: 80px;
    margin-left: 35%;
}

.img{
    border-radius:100%;
    width: 35px;
    height: 35px;
}

.selected{
    color: rgb(8, 233, 20);
    
    font-size: large;
}

.unselected{
    color:black;
    font-size: medium;
}
