.root{
    background-color:darksalmon;
}


.item{
    padding: 3px;
}


.chat{
    overflow-y: scroll;
    overflow-x:hidden;
    height: calc(100vh - 84px);
    
}
.chat::-webkit-scrollbar {
    width: 10px;
  }

.chat::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
.chat::-webkit-scrollbar-thumb {
    background: #888; 
  }
.chat::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.message{

}
.messageB{

margin-top: 10px;
margin-bottom: 10px;
padding: 15px;
background-color: rgba(233, 233, 233, 0.074);
}