.header {
  grid-area: h;
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  
}

.header img {
  width: 50px;
  border-radius: 100%;
}


.login{
  display: flex;
  align-items: right;
justify-content: right;
}

.logout{
  cursor: pointer;
  color:blue
}

.disableLink {
  color:rgb(21, 48, 83)
}


.blackTheme{
  background-color: rgb(rgb(23, 39, 47), green, blue);
}
.whiteTheme{
  background-color: rgb(230, 209, 209);
}